
@font-face {
    font-family: 'EmberRegular';
    src: url('../images/webfonts/AmazonEmber_W_Rg.eot');
    src: url('../images/webfonts/AmazonEmber_W_Rg.eot?#iefix') format('embedded-opentype'),
         url('../images/webfonts/AmazonEmber_W_Rg.woff') format('woff'),
         url('../images/webfonts/AmazonEmber_W_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EmberMedium';
    src: url('../images/webfonts/AmazonEmber_W_Bd.eot');
    src: url('../images/webfonts/AmazonEmber_W_Bd.eot?#iefix') format('embedded-opentype'),
         url('../images/webfonts/AmazonEmber_W_Bd.woff') format('woff'),
         url('../images/webfonts/AmazonEmber_W_Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EmberLight';
    src: url('../images/webfonts/AmazonEmber_W_Lt.eot');
    src: url('../images/webfonts/AmazonEmber_W_Lt.eot?#iefix') format('embedded-opentype'),
         url('../images/webfonts/AmazonEmber_W_Lt.woff') format('woff'),
         url('../images/webfonts/AmazonEmber_W_Lt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: white;

}

.hero {
    height: 812px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
}

.logo img {
    height: 61px;
}

.featured {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.featured a {
    font-size: 25px;
    color: white;
    font-family: 'EmberMedium', Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;

}

.featuredButton {
    height: 113px;
    width: 258px;
    background-image: url(../images/lrgbutton.png);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}

.topheader {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.topheader H1 {
    font-family: 'EmberMedium', Helvetica, Arial, sans-serif;
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}

.topheaderbuttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end; 
}

.search, .filter {
    background-image: url(../images/button.png);
    height: 60px;
    width: 199px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'EmberLight', Helvetica, Arial, sans-serif;
}

.filtercontainer {
    padding-left: 25px;
    display: none;
}

.filterrow1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;

}

.filterrow2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;

}


.filterbutton {
    background-image: url(../images/filterbutton.png);   
    height: 47px;
    width: 110px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'EmberLight', Helvetica, Arial, sans-serif;
}

.clearbutton {
    background-image: url(../images/clearbutton.png);   
    height: 47px;
    width: 110px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'EmberLight', Helvetica, Arial, sans-serif;
}

.titlecontainer {
    padding: 20px;
}

.titlecontainer H3 {
    font-family: 'EmberMedium', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
}

.titlelistings {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}

.title {
    cursor: pointer;
}

.seealltvseries {
    height: 153px;
    width: 258px;
    background-image: url(../images/seeall.png);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.primestyle {
    color: #00A8E1;
    font-size: 35px;
}